@import '../app/styles/const.module';

@keyframes spin {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}

.section {
  padding: 3rem 0;
}

.container {
  @extend %container;
}

.content {
  @extend %flex_center__full;
  margin-left: auto;
  margin-right: auto;
  width: 3.5rem;
  height: 3.5rem;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.spinner div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border: 0.3rem solid $brand_primary__2;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
